span {
    font-size: 60px;
    font-family: 'Microsoft YaHei UI';
    color: #0000ff;
    font-weight: bold;
}

li {
    font-size: 60px;
    font-family: 'Microsoft YaHei UI';
    color: #ff4500;
    font-weight: bold;
}